<template>
    <lightning-card title="Commands" icon-name="utility:table_portrait">
        <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-button 
                label="Subtract" 
                icon-name="utility:dash"
                onclick={handleSubtract}>
                
            </lightning-button>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small"></lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-button 
            label ="add"
            icon-name="utility:add" 
            onclick={handleAdd}>     
            </lightning-button>
        </lightning-layout-item>
    </lightning-card>
</template>