<template>
    <h1>helloWorld</h1>
    <lightning-card title="Profile" icon-name="custom:custom1">
        <div class="slds-var-m-around-medium">
        <div>Name: {name} </div>
        <div>Age: {age} </div>
        <div>Country: {country} </div>
        <hr>
        <lightning-input label="Your Name:" value={name} onchange= {changeName}></lightning-input>
        <lightning-input label="Your Age:" value={Age} onchange= {changeAge}></lightning-input>
        <lightning-input label="Your Country:" value={country} onchange= {changeCountry}></lightning-input>    
    </div>    
    </lightning-card>
</template>