<template>
    <lightning-card title="Counter" icon-name="Utility:Constant">
        <p class="slds-text-align_center slds-var-m-vertical_medium">
            Count: {counter}
        </p>
        <!-- Comands here-->
    </lightning-card>
</template>