.cars_card{
    border: 1px solid black;
    border-radius: 0.25rem;
    display: block;
}

.cars_images{
    height: 100px;
    
}

.slds-var-m-bottom_xx_smal{
    text-align: justify;
    text-size-adjust: 1rem;
    
}

.slds-varr-m-bottom_xx_smal{
    text-size-adjust: .5rem;
}

.cars_card{
	display: block;
	border: 1px solid #232647;
	border-radius: .25rem;
	background-color: #3c2567;
}
.cars_images {
	height: 100px;
}