<template>
    
    <lightning-card title="CarsPage " icon-name="cars:carsPage">
        
            <template if:true={CarsPage}>

                <lightning-layout multiple-rows="true" vertical-align="end">
                    <lightning-layout-item size="4" padding="around-small">
                        <lightning-input type="search"
                                onchange={handleSearchTermChange}
                                variant="label-hidden"
                                class="slds-var-m-bottom_small"
                                label="Search"
                                placeholder="Search for Cars"
                                value={Key}>
                        </lightning-input>  
                    </lightning-layout-item>

                    <lightning-layout-item size="12" padding="around-small">
                        <lightning-datatable key-field="id" data={Cars_c} columns={colms}>

                        </lightning-datatable>

                    </lightning-layout-item>
            
                <template for:each={CarsPage} for:item="carsDetails">

                    <lightning-layout-item key={carsDetails.id} size="4" class="slds-var-p-around_x-small">

                        <!--Cars card starts here-->
                        <lightning-card title={carsDetails.Brand_Name__c} class="cars_card">
                            <div slot="actions">
                                <lightning-button-icon
                                    icon-name="utility:search"
                                    icon-class="cars-tile-button"
                                    variant="bare"
                                    alternative-text="Open record"
                                    onclick={handleOpenRecordClick}>
                                </lightning-button-icon>
                            </div>
                            <div class="slds-var-p-horizontal_small">

                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_8-of-12">
                                        <img src={car} alt="Car icon" class="cars_images">
                                    </div> 

                                    <div class="slds-col slds-size_4-of-12 ">
                                        <p class="slds-var-m-bottom_xx_smal"><strong>{carsDetails.Model__c}</strong></p>
                                        <p class="slds-var-m-bottom_xx_smal">{carsDetails.Country_origin__c}</p>
                                        <p class="slds-var-m-bottom_xx_smal">{carsDetails.License_Plate__c}</p>
                                        
                                        
                                        
                                        
                                    </div>
                                </div>    
                            </div>            
       
                        </lightning-card>
                        <!--Cars card ends here-->

                    </lightning-layout-item>
                </template>
            </lightning-layout>
            <template if:false={hasResults}>
                <div class="slds-align_absolute-center slds-var-m-vertical_small">
                    
                </div>
            </template>
        </template>

        <template if:true={error}>
  
        </template>
    </lightning-card>
</template>